#maindiv{
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightsteelblue;
    border: 4px solid black;
    
}
#maindiv div {
    height: 196px;
    width: 196px;
    border: 2px solid black;    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}